/**---------Estilos genéricos---------**/
body{
  background: #ffd54f;
}
a{
  color: black;
}
a:hover{
  color: #4f79ff;
  background-color: rgba(0, 0, 0, 0.1);
}
.active{
  color: #4f79ff !important;
}
/*--------Estilos para el header--------*/
.header{
  background: #4f79ff;

}
.img-logo{
  height: 175px;
  display: block !important;
  margin-left: -15px;
}
.size-icon{
  font-size: 2.2rem;
  position: relative;
  top: 130px;
  display: inline-block;
  text-align: center;
  width: 45px;
  height: 45px;
  margin-right: 0.8vw;
}
.size-icon:hover{
  background: rgba(0,0,0,0.1);
}
/*----------Estilos para el nav----------*/
.nav-style{
  background-color: #4fffd5;
  padding-right: 0;
}
@media all and (max-width:768px){
  .size-icon{
    position: static;
  }
  .img-logo{
    margin-left: auto;
    margin-right: auto;
  }
}
