/**---------Estilos genéricos---------**/
body{
  background: #ffd54f;
}
a{
  color: black;
}
a:hover{
  color: #4f79ff;
  background-color: rgba(0, 0, 0, 0.1);
}
.active{
  color: #4f79ff !important;
}
/*--------Estilos para el header--------*/
.header{
  background: #4f79ff;

}
.img-logo{
  height: 175px;
  display: block !important;
  margin-left: -15px;
}
.size-icon{
  font-size: 2.2rem;
  position: relative;
  top: 130px;
  display: inline-block;
  text-align: center;
  width: 45px;
  height: 45px;
  margin-right: 0.8vw;
}
.size-icon:hover{
  background: rgba(0,0,0,0.1);
}
/*----------Estilos para el nav----------*/
.nav-style{
  background-color: #4fffd5;
  padding-right: 0;
}
/*-------Estilos para el contenido-------*/
.content{
  min-height: 360px;
}
.img-content{
  height: 200px;
  margin-top: 70px;
  margin-bottom: 20px;
}
.comment{
  padding-left: 20px;
  margin-bottom: 10px;
}
.comment-icon{
  width: 25px;
}
.no-padding-x{
  padding-left: 0;
  padding-right: 0;
}
#area-comentarios{
  width: 80%;
  resize: none;
  height: 40px;
  border-radius: 0 10px 10px 0;
}
@media all and (max-width:768px){
  .size-icon{
    position: static;
  }
  .img-logo{
    margin-left: auto;
    margin-right: auto;
  }
  .img-content{
    margin-top: 5px;
    height: 300px;
  }
}
